*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* THE START OF THE LAYOUT */
body{
    background: #f4f1de;
    width: auto;
    height: auto;
}

.header{
}

.logo{
    text-align: center;
    font-size: 70px;
    background: #f2cc8f;
    padding: 15px;
}

.logo a{
    text-decoration: none;
}

.mainMenu{
    background: #3d405b;
}

.mainMenu ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainMenu ul li{
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}

.mainMenu ul span{
    color: white;
    margin-top: 19px;
}

.mainMenu ul li a{
    margin: auto;
    padding: 20px;
    text-decoration: none;
    color: #f4f1de;
}

.mainMenu ul li a:hover{
    font-size: 110%;
    background: #5a5e87
}
/* THE END OF THE LAYOUT */

/* --- THE FIRST SECTION --- */
.con1{
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #81b29a;
}

.subCont{
    text-align: center;
    width: 45%;
} 

.subCont img{
    width: 80%;
}

.subCont h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1000%;
    font-weight: bold;
}

.subCont h2{
    margin-top: 5%;
    font-size: 500%;
    font-weight: bold;
}

.subCont h4{
    text-transform: uppercase;
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 400%;
    font-weight: bold;
}
/* --- THE END OF FIRST SECTION --- */

/* THE START OF SECOND SECTION */
.con3{
    background: #e07a5f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}

.s1{
    text-align: center;
    width: 35%;
}

.s1 h2{
    margin-top: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1000%;
    font-weight: bold;
}

.s1 h3{
    margin-top: 5%;
    font-size: 500%;
    font-weight: bold;
}

.s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
    width: 50%;
}

.work{
    text-align: center;
    padding-top: 8%;
    width: 27%;
}

.work img{
    margin-left: 10px;
    padding: auto;
    width: 80%;
    border-radius: 100%;
}
.work h2{
    margin-top: 1%;
}
/* THE END OF SECOND SECTION */

/* --- OUR TEAM SECTION --- */
.con2{
    background: #81b29a;
    padding: 5%;
}

.con2 h1{
    padding: 3%;
    padding-bottom: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    font-weight: bold;
}

.con2 hr{
    width: 18%;
    margin-left: 2%;
}

.profiles{
    padding-top: 2%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prof{
    text-align: center;
    padding: 10px;
    width: 20%;
}

.prof img{
    margin-left: 10px;
    padding: 20px;
    width: 60%;
    border-radius: 100%;
}

.prof h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prof p{
    padding: 10px;
}
/* THE END OF OUR TEAM SECTION */

/* THE START OF FOUTH SECTION */
.con4{
    background: #e07a5f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.textCont{
    text-align: center;
    width: 40%;
}

.textCont h2{
    margin-top: 30%;
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 700%;
    font-weight: bold;
}

.textCont h3{
    font-size: 500%;
    font-weight: bold;
}

.form{
    padding: 7%;
    padding-top: 4%;
    width: 40%;
}

.form h2{
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
}

.form label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

.form input{
    font-size: 120%;
    padding: 20px;
    width: 60%;
}

.button{
    width: 150px;
}
/* THE END OF FOURTH SECTION */

/* ---THE FOOTER SECTION --- */
.footer{
    padding: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: #3d405b;
}

.child{
    padding: 3%;
    color: cornsilk;
}

.child h1{
    font-size: 100%;
}

.child ul {
    list-style: none;
    padding: 10px;
}

.child ul li{
    padding-top: 10px;
}

.child ul li a{
    text-decoration: none;
    color: darkgray;
}
/*THE END OF FOOTER SECTION*/


/* MEDIA QUERIES */
@media only screen and (max-width: 480px) and (min-width: 320px){
    .logo{
        font-size: 40px;
    }

    .mainMenu ul li{
        width: 100%;
    }

    .subCont{
        text-align: center;
        width: 100%;
    } 

    .subCont h3{
        font-size: 700%;
    }

    .subCont h2{
        font-size: 300%;
    }

    .subCont h4{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 250%;
    }

    .con2 h1{
        padding: 3%;
        padding-bottom: 1%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 300%;
        font-weight: bold;
    }

    .con2 hr{
        width: 25%;
        margin-left: 4%;
    }

    .prof{
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .s1{
        text-align: center;
        width: 100%;
    }

    .s1 h2{
        font-size: 700%;
    }
    
    .s1 h3{
        font-size: 300%;
    }

    .s2{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        width: 100%;
        padding: 5%;
    }

    .work{
        text-align: center;
        padding-top: 8%;
        width: 45%;
    }

    .textCont{
        width: 100%;
    }

    .textCont h2{
        margin-top: 10%;
        font-size: 450%;
        font-weight: bold;
    }

    .textCont h3{
        font-size: 300%;
        font-weight: bold;
    }

    .form{
        padding-top: 4%;
        width: 100%;
    }

    .textCont h2{
        margin-top: 20%;
    }

    .form{
        padding: 7%;
        padding-top: 0%;
    }
    
    .footer{
        height: 450px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1129px){
    .subCont h3{
        font-size: 700%;
    }

    .subCont h2{
        font-size: 400%;
    }
    
    .subCont h4{
        font-size: 270%;
    }

    .s1 h2{
        font-size: 700%;
    }
    
    .s1 h3{
        font-size: 400%;
    }

    .textCont h2{
        font-size: 600%;
    }

    .textCont h3{
        font-size: 500%;
    }
    
}



@media only screen and (min-width: 1130px) and (max-width: 1219px){
    .subCont h3{
        font-size: 800%;
    }

    .subCont h2{
        font-size: 450%;
    }
    
    .subCont h4{
        font-size: 300%;
    }

    .s1 h2{
        font-size: 950%;
    }
    
    .s1 h3{
        font-size: 500%;
    }

    .textCont h2{
        font-size: 650%;
    }

    .textCont h3{
        font-size: 500%;
    }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1269px){
    .subCont h3{
        font-size: 850%;
    }

    .subCont h2{
        font-size: 450%;
    }
    
    .subCont h4{
        font-size: 300%;
    }

    .s1 h2{
        font-size: 850%;
    }
    
    .s1 h3{
        font-size: 450%;
    }

    .textCont h2{
        font-size: 650%;
    }

    .textCont h3{
        font-size: 500%;
    }
    
}


@media only screen and (min-width: 1270px) and (max-width: 1409px){
    .subCont h3{
        font-size: 900%;
    }

    .subCont h2{
        font-size: 500%;
    }
    
    .subCont h4{
        font-size: 300%;
    }

    .s1 h2{
        font-size: 900%;
    }
    
    .s1 h3{
        font-size: 500%;
    }

    .textCont h2{
        font-size: 640%;
    }

    .textCont h3{
        font-size: 500%;
    }
    
}

@media only screen and (min-width: 1410px) and (max-width: 1460px){
    .subCont h3{
        font-size: 1000%;
    }

    .subCont h2{
        font-size: 500%;
    }
    
    .subCont h4{
        font-size: 350%;
    }

    .s1 h2{
        font-size: 950%;
    }
    
    .s1 h3{
        font-size: 500%;
    }

    .textCont h2{
        font-size: 650%;
    }

    .textCont h3{
        font-size: 500%;
    }
    
}